
  <form>
  <mat-form-field class="example-chip-list">
    <mat-label>Search painter</mat-label>
    <mat-chip-grid #chipGrid aria-label="Search painter...">
      <mat-chip-row *ngFor="let painter of painters" (removed)="remove(painter)">
        {{ painter }}
        <button matChipRemove [attr.aria-label]="'remove ' + painter">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="New painter..." #painterInput
    [formControl]="formCtrl"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      (matChipInputTokenEnd)="add($event)" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let painter of filteredPainters | async" [value]="painter">
        {{ painter }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<div class="container">
    
    <div class="filter-column">
        <h2>Filter by</h2>
        <div>
            <h3>Emotion</h3>
            <div class="filter-item" *ngFor="let emotion of emotions">
                <input type="checkbox" [id]="emotion.value" [checked]="emotion.checked" (change)="toggleFilter(emotion)">
                <label [for]="emotion.value">{{ emotion.label }}</label>
              </div>
        </div>
        <div>
            <h3>Race</h3>
            <div class="filter-item" *ngFor="let race of races">
                <input type="checkbox" [id]="race.value" [checked]="race.checked" (change)="toggleFilter(race)">
                <label [for]="race.value">{{ race.label }}</label>
              </div>
        </div>
        <div>
            <h3>Gender</h3>
            <div class="filter-item" *ngFor="let gender of genders">
                <input type="checkbox" [id]="gender.value" [checked]="gender.checked" (change)="toggleFilter(gender)">
                <label [for]="gender.value">{{ gender.label }}</label>
              </div>
        </div>
    </div>

    <div class="image-grid" vocab="http://schema.org/">

        <div class ="grid">
          <span *ngIf="images.length > 0">
              <div class="grid-item" *ngFor="let image of images" typeof="ImageObject">
                <a [routerLink]="['/painters', image]" property="url">
                    <img [src]="'http://127.0.0.1:5000/uploads/' + image" alt="Image" property="image">
                </a>
            </div>
          </span>
          <span *ngIf="images.length === 0">
            <div>Sorry! No paintings were found for this selection</div>
        </span>
        </div>
    </div>
</div>